html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #024a45;
  width: 100%;
  top: 0;
  position: fixed;
  height: 10%;
  z-index: 50;
}

nav h1 {
  font-size: 50px;
  color: #101a2f;
  color: white;
}

nav div a {
  font-size: 25px;
  color: white;
}

nav div a:hover {
  color: #024943;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero1 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.hero h1 {
  font-size: 60px;
  color: white;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero p {
  color: white;
  width: 70%;
  font-size: x-large;
  text-align: center;
}

.hero button {
  padding: 30px;
  font-size: large;
  background-color: white;
  color: #024844;
  border-radius: 10px;
  width: 15rem;
  font-size: x-large;
}

.hero button:hover {
  background-color: #024844;
  color: white;
}

.hero-2 {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

.hero-2 h1 {
  margin: 30px;
  color: white;
  font-size: 50px;
}

.hero2-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: 60vh;
  margin: 10px;
  padding: 10px;
}

.hero2-items div {
  height: 95%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero2-items div:hover {
  opacity: 0.5;
  color: white;
}

.hero2-items div h2:hover {
  color: #3ef9ff;
}

.hero2-items div h2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero2-items #num1 {
  height: 90%;
  background-image: url(../images/bg-logo1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2-items #num2 {
  height: 90%;
  background-image: url(../images/backend.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2-items #num3 {
  height: 90%;
  background-image: url(../images/full-stack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero3 {
  display: flex;
  width: 100%;
  height: 100vh;
  column-gap: 20px;
  justify-content: center;
}

.hero3 img {
  height: 80%;
  border-radius: 20px;
  border: 5px solid #26444b;
}

.hero3 h2 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.hero3 p {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}

.hero31 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  border-radius: 20px;
  border: 5px solid #26444b;
  row-gap: 10px;
  width: 60%;
}

footer {
  height: 60vh;
  background-color: #024a45;
  display: flex;
  align-items: center;
}

.footer1 {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

.footer2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
  font-size: medium;
  row-gap: 30px;
  text-align: center;
}

.footer3 {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 20px;
  align-items: center;
}

.footer3 a {
  color: white;
}

.footer3 a:hover {
  color: black;
}

.footer4 {
  color: white;
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 10px;
  align-items: center;
}

.footer4 a {
  color: white;
}

.footer4 a:hover {
  color: black;
}

h3 {
  display: flex;
  justify-content: center;
  background-color: #024a45;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-image: url(../images/frontend.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero4 {
  color: white;
  font-size: 50px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.hero41 {
  font-size: xx-large;
  color: white;
}

.hero42 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-self: center;
  height: 70vh;
  width: 60%;
}

.skills {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #024a45;
}

.skills span {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.hero43 {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 15px;
  padding: 15px;
  height: 30%;
}

.hero43button {
  background-color: #37441d;
  width: 40%;
  border-radius: 10px;
  height: 50px;
  color: white;
}

.history {
  display: flex;
  width: 100%;
  background-color: #024943;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 80px;
  height: 50vh;
}

.history1 {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  height: 80%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 30%;
  border-radius: 10px;
}

.history2 {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  height: 80%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 30%;
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  background-color: #024943;
  height: 60vh;
  display: flex;
}

.foot5 {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.JavScript {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-icon {
  display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
  .nav-items {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    overflow-y: hidden;
    top: 30px;
  }

  nav #home {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  nav {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .nav-items.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d4c4c;
    overflow: hidden;
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
  }

  .hero {
    width: 100%;
  }
  .hero1 h1 {
    font-size: x-large;
    width: 100%;
    text-align: center;
  }

  .hero1 .herobut {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .herobut button {
    width: 30%;
    height: 5vh;
    background-color: #031930;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    margin: 5px;
  }
  .herobut button:hover {
    background-color: white;
    color: #3c4c4c;
  }

  .hero3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero3 img {
    height: 30%;
    border-radius: 10px;
    border: 5px solid #26444b;
  }

  .hero31 {
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }


}

@media (min-width: 600px) and (max-width: 1000px) {
  .nav-items {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    overflow-y: hidden;
    top: 30px;
  }

  nav #home {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  nav {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .nav-items.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d4c4c;
    overflow: hidden;
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
  }

  .hero {
    width: 100%;
  }
  .hero1 h1 {
    font-size: xx-large;
    width: 100%;
    text-align: center;
  }

  .hero1 .herobut {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .herobut button {
    width: 30%;
    height: 5vh;
    background-color: #031930;
    color: white;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .hero3 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c090f;
  }

  .hero3 img {
    height: 30%;
    border-radius: 10px;
    border: 5px solid #26444b;
  }

  .hero31 {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
